.pages {
  width: 95%;
  margin: 2rem auto 1rem;

  .title {
    font-size: 24px;
    font-weight: 700;
  }

  .view {
    color: #005e5a;
    cursor: pointer;
  }

  .add-button {
    border: 2px solid #005e5a;
    padding: .75rem 2rem;
    gap: 1rem;
    width: fit-content;
    background-color: white;
    cursor: pointer;
    margin-bottom: 1rem;

    .icon-container {
      background-color: #005e5a;
      border-radius: 2rem;
      display: grid;
      place-items: center;
      padding: .25rem;

      svg {
        fill: white;
      }
    }
  }

  .pages-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0 2rem 1rem;

		.container {
			grid-column: 1/-1;
			min-height: 80vh;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1rem;
			place-items: center;

			.option {
				border: #005e5a 1px solid;
				width: 100%;
				height: 50%;
				display: grid;
				place-items: center;
				cursor: pointer;
				background-color: white;
				font-size: 18px;
				font-weight: 600;
				border-radius: 10px;
			}
		}

    .header {
      grid-column: 1/-1;
      margin: .25rem 0;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .page {
      display: flex;
      flex-direction: column;
      border: 1px solid #005e5a;
      cursor: pointer;

      .thumbnail {
        height: 8rem;
        background-color: transparent;

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      .title {
        padding: 1rem 1rem 0;
        font-size: 18px;
        margin: 0;
      }

      .text {
        padding: 0 1rem 1rem;
        font-size: 12px;
        margin: 0;
      }
    }

		.back-button-container {
			grid-column: 1/-1;
			margin: 0 auto;

			.back-button {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border: 1px solid #005e5a;
				padding: .75rem 2rem;
				border-radius: 10px;
				gap: .25rem;
				cursor: pointer;
				background-color: #005e5a;
				color: white;
				text-align: left;
			}
		}
  }

	@media (max-width: 475px) {
		.pages-container {
      grid-template-columns: 1fr;

			.container {
				min-height: 75vh;
				grid-template-columns: 1fr;

				.option {
					height: 100%;
					font-size: 15px;
					justify-content: start;
					padding-left: 1rem;
				}
			}
		}
	};
}
