<div class="pages">
  @if (isAdmin) {
    <div>
      <p class="title">Action</p>
      <div class="flex button" [routerLink]="['create']">
      <span class="icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-plus" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
      </span>
        <p>Create Request</p>
      </div>
    </div>
    <ng-container>
      <table mat-table matTableResponsive [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let page; index as i">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let page"> {{page.title}} </td>
        </ng-container>

        <ng-container matColumnDef="link">
          <th mat-header-cell *matHeaderCellDef> Link </th>
          <td mat-cell *matCellDef="let page"> {{page.url}} </td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let page">
            <img [ngSrc]="baseUrl + 'uploads/' + page.image" width="40" height="40" [alt]="page.title">
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let page">
            {{ page.category }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let page">
            <p class="view" (click)="editPage(page)">
              Edit
            </p>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[20]"
                     #doc
                     showFirstLastButtons="true">
      </mat-paginator>
    </ng-container>
  } @else {
    <div class="pages-container">
			@if (state === 0) {
				<div class="container">
					<div class="option" (click)="state = 1">Service Request</div>
					<div class="option" (click)="state = 2">Appointment Request</div>
					<div class="option" (click)="state = 3">Support Request</div>
				</div>
			} @else if (state === 1) {
				<p class="header">Service Request</p>
				@for (page of services; track page.id) {
					<div class="page" (click)="window.open(`https://${page.url}`, '_blank', 'noopener,noreferrer')">
						<div class="thumbnail">
							<img [ngSrc]="baseUrl + 'uploads/' + page.image" width="100" height="80" alt="thumbnail">
						</div>
						<div>
							<p class="title">{{page.title}}</p>
							<p class="text">
								{{ page.description }}
							</p>
						</div>
					</div>
				} 
				<div class="back-button-container">
					<button class="back-button" (click)="state = 0">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
						</svg>
						Back
					</button>
				</div>
			} @else if (state === 2) {
				<p class="header">Appointment Request</p>
				@for (page of appointments; track page.id) {
					<div class="page" (click)="window.open(`https://${page.url}`, '_blank', 'noopener,noreferrer')">
						<div class="thumbnail">
							<img [ngSrc]="baseUrl + 'uploads/' + page.image" width="100" height="80" alt="thumbnail">
						</div>
						<div>
							<p class="title">{{page.title}}</p>
							<p class="text">
								{{ page.description }}
							</p>
						</div>
					</div>
				}
				<div class="back-button-container">
					<button class="back-button" (click)="state = 0">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
						</svg>
						Back
					</button>
				</div>
			} @else if (state === 3) {
				<p class="header">Support Request</p>
				@for (page of supports; track page.id) {
					<div class="page" (click)="window.open(`https://${page.url}`, '_blank', 'noopener,noreferrer')">
						<div class="thumbnail">
							<img [ngSrc]="baseUrl + 'uploads/' + page.image" width="100" height="80" alt="thumbnail">
						</div>
						<div>
							<p class="title">{{page.title}}</p>
							<p class="text">
								{{ page.description }}
							</p>
						</div>
					</div>
				}
				<div class="back-button-container">
					<button class="back-button" (click)="state = 0">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
						</svg>
						Back
					</button>
				</div>
			}    
		</div>
	}
</div>