.pages {
  width: 95%;
  margin: 2rem auto 1rem;

  .title {
    font-size: 24px;
    font-weight: 700;
  }

  .view {
    color: #005e5a;
    cursor: pointer;
  }

  .button {
    border: 2px solid #005e5a;
    padding: .75rem 2rem;
    gap: 1rem;
    width: fit-content;
    background-color: white;
    cursor: pointer;
    margin-bottom: 1rem;

    .icon-container {
      background-color: #005e5a;
      border-radius: 2rem;
      display: grid;
      place-items: center;
      padding: .25rem;

      svg {
        fill: white;
      }
    }
  }

  .pages-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem;

    .page {
      display: grid;
      grid-template-rows: 1fr 1.2fr;
      border: 1px solid #005e5a;
      cursor: pointer;

      .thumbnail {
        background-color: #005e5a;
      }

      .title {
        padding: 1rem 1rem 0;
        font-size: 18px;
        margin: 0;
      }

      .text {
        padding: 0 1rem 1rem;
        font-size: 12px;
        margin: 0;
      }
    }
  }
}
