.login {
  background-color: #015d5a;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  background-color: #001212;
  width: 30%;
  border: 1px solid #001212;
  border-radius: 30px;
  margin: 2rem auto;
}

.google {
  border: 1px solid #005e5a;
  border-radius: 10px;
  width: fit-content;
  margin: .25rem auto;
  display: grid;
  grid-template-columns: .2fr 1fr;
  grid-gap: .25rem;
  place-items: center;
  padding: 10px 15px;
  cursor: pointer;
  color: #005e5a;
  text-decoration: none;
  background-color: #e1e3e5;

  svg {
    fill: #005e5a;
  }
}

svg {
  fill: white;
}

.company {
  display: grid;
  place-items: center;
  padding: 1rem;
}

.logo {
  width: 50%;
}

p {
  margin: 0;
  font-size: 14px;
}

.form {
  display: grid;
  gap: 1.5rem;
  width: 85%;
  margin: 1rem auto 2rem;

  p {
    color: white;
    font-size: 12px;
    margin: 0 auto .5rem;
  }
}

.input {
  display: grid;
}

.icon {
  background-color: #005e5a;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: 7px;
  z-index: 1;
  border: none;
}

button.icon {
  cursor: pointer;
  opacity: .9;
  transition: opacity 100ms ease-in;

  &:hover {
    opacity: 1;
  }
}

.field {
  border: none;
  border-radius: 5px;
  background-color: #f3f5f9;
  padding: .6rem 1rem;
  transform: translateX(-5px);
  width: calc(100% + 5px);

  &:focus {
    outline: none;
  }
}

.sign-up {
	text-decoration: none;
	color: white;
	opacity: .75;
	text-align: center;
	transition: opacity 200ms ease-in;

	&:hover {
		opacity: 1;
	}
}

.submit {
  background-color: #005e5a;
  color: white;
  padding: .75em 5.5em;
  border: none;
  border-radius: 10px;
  justify-self: center;
  margin-top: .5rem;
  cursor: pointer;
}

.error-text {
  color: #fc1d1d;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 475px) {
  .container {
    width: 85%;
  }
}
