.payments {
  width: 90%;
  margin: 2rem auto 1rem;

  .title {
    font-size: 24px;
    font-weight: 700;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    background-color: white;
    padding: 2rem;

    .card {
      display: grid;
      padding: 2rem 1rem;
      border: 2px solid #005e5a;
      aspect-ratio: 1/.6;
      cursor: pointer;
      background-color: white;
      border-radius: 10px;

      span {

      }

      p{
        margin: .5rem 0 0;
      }

      .name {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .button {
    border: 2px solid #005e5a;
    padding: .75rem 2rem;
    gap: 1rem;
    width: fit-content;
    background-color: white;
    cursor: pointer;

    .icon-container {
      background-color: #005e5a;
      border-radius: 2rem;
      display: grid;
      place-items: center;
      padding: .25rem;

      svg {
        fill: white;
      }
    }
  }

  table {
    border: 1px solid #e1e3e5;
    box-shadow: none;

    .status {
      padding: .5em .75em;
      border-radius: 50px;
      text-align: center;
      margin: 0;
    }

    .view{
      color: #005e5a;
      cursor: pointer;
      margin: 0;
    }

    .read {
      color: #18b9b9;
      background-color: #e5f5f5;
    }

    .unread {
      color: #ff8a1e;
      background-color: #fff0e2;
    }
  }

  .button-container {
    display: grid;
    justify-items: center;
    width: 85%;
    margin: 1rem auto;

    .back-button {
      width: 30%;
      display: flex;
      align-items: center;
      gap: .25rem;
      padding: .75rem 2rem;
      text-align: left;
      border: 1px solid #005e5a;
      border-radius: 10px;
      cursor: pointer;
      background-color: #005e5a;
      color: white;
    }
  }
}
