<div>
  <h2 mat-dialog-title>{{data.payment.user["firstName"] + " " + data.payment.user["lastName"] + " | " + data.payment.title | titlecase}}</h2>
  <mat-dialog-content>
    <div class="container">
      <div class="grid">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
          <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z"/>
          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"/>
        </svg>
        @if (data.payment.isPaid) {
          <p> {{ data.payment.url }}</p>
        } @else {
          <p>Not Paid</p>
        }
      </div>
      <div class="child">
        <p><span>Title</span>: {{ data.payment.title }}</p>
        <p><span>Amount</span>: {{ data.payment["amount"] }}</p>
        <p><span>Stripe Amount</span>: {{ data.payment["stripeAmount"] }}</p>
        <p><span>Bank</span>: {{ data.payment["bankName"] }}</p>
        <p><span>Bank Account</span>: {{ data.payment["bankAccount"] }}</p>
        <p><span>Account Name</span>: {{ data.payment["accountName"] }}</p>
        <p><span>Date</span>: {{ data.payment["date"] | date }}</p>
      </div>
    </div>
    @if (data.payment.isPaid && (!data.payment.isAccepted && !data.payment.isRejected)) {
      <div class="button-container">
        <button class="button" (click)="accept(data.payment)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
          </svg>
          Accept
        </button>
        <button class="button" (click)="reject(data.payment)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg>
          Reject
        </button>
      </div>
    }
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onNoClick()">Done</button>
    @if (data.payment.isPaid) {
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Download</button>
    }
  </mat-dialog-actions>
</div>
