<div class="documents">
  @if (isAdmin) {
    <div>
      <p class="title">Action</p>
      <div class="flex button" [routerLink]="['/', 'document', 'upload']">
        <span class="icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
        </span>
        <p>Upload Document</p>
      </div>
    </div>
  }
	@if (state !== 0 && !isAdmin) {
		<div class="flex">
			<p class="title">{{ state === 1 ? 'Agreements' : 'Milestones' }}</p>
		</div>
		@if (isAdmin) {
			<div class="filters">
					<select name="filters" id="filter" [(ngModel)]="filter" (ngModelChange)="onFilter()">
						<option value="all">All</option>
						<option value="sent">Sent</option>
						<option value="received">Received</option>
					</select>
					<div class="input">
						<input class="field" [(ngModel)]="search" placeholder="Search By Username" name="search" (ngModelChange)="onInputChange()"/>
						<span class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
								<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
							</svg>
						</span>
					</div>
				<!-- } @else {
					<div class="input">
						<input class="field" [(ngModel)]="search" placeholder="Search By Type" name="search" (ngModelChange)="onUserInputChange()"/>
						<span class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
								<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
							</svg>
						</span>
					</div>
				} -->
			</div>
		}
	}
  @if (isAdmin) {
    <ng-container>
      <table mat-table matTableResponsive [dataSource]="filteredDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let document; index as i">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let document"> {{document.title}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let document"> {{document.type ? document.type : '-'}} </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let document">{{document.productId}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let document"> {{document["date"] | date }} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let document">
            <p class="status" [ngClass]="{'read': document.isRead, 'unread': !document.isRead}">
              {{document.isRead ? "Read" : "Unread"}}
            </p>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let document">
            <p class="view" (click)="openDialog(document)">
              View
            </p>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[20]"
                     #doc
                     showFirstLastButtons="true">
      </mat-paginator>
    </ng-container>
  } @else {
		@if (state === 0) {
			<div class="container">
				<div class="option" (click)="state = 1">Agreements</div>
				<div class="option" (click)="state = 2">Milestones</div>
			</div>
		} @else if (state === 1) {
			<ng-container >
				<table mat-table matTableResponsive [dataSource]="agreements" class="mat-elevation-z8">
					<ng-container matColumnDef="no">
						<th mat-header-cell *matHeaderCellDef> No. </th>
						<td mat-cell *matCellDef="let document; index as i">{{ i + 1 }}</td>
					</ng-container>
	
					<ng-container matColumnDef="title">
						<th mat-header-cell *matHeaderCellDef> Title </th>
						<td mat-cell *matCellDef="let document"> {{document.title}} </td>
					</ng-container>
	
					<ng-container matColumnDef="type">
						<th mat-header-cell *matHeaderCellDef> Type </th>
						<td mat-cell *matCellDef="let document"> {{document.type ? document.type : '-'}} </td>
					</ng-container>
	
					<ng-container matColumnDef="id">
						<th mat-header-cell *matHeaderCellDef> ID </th>
						<td mat-cell *matCellDef="let document">{{document.productId}}</td>
					</ng-container>
	
					<ng-container matColumnDef="date">
						<th mat-header-cell *matHeaderCellDef> Date </th>
						<td mat-cell *matCellDef="let document"> {{ document.date | date }} </td>
					</ng-container>
	
					<ng-container matColumnDef="status">
						<th mat-header-cell *matHeaderCellDef> Status </th>
						<td mat-cell *matCellDef="let document">
							<p class="status" [ngClass]="{'read': document.isRead, 'unread': !document.isRead}">
								{{ document.isRead ? "Read" : "Unread" }}
							</p>
						</td>
					</ng-container>
	
					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef> </th>
						<td mat-cell *matCellDef="let document">
							<p class="view" (click)="download(document)">
								Download
							</p>
						</td>
					</ng-container>
	
					<tr mat-header-row *matHeaderRowDef="userDisplayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: userDisplayedColumns;"></tr>
				</table>
				<mat-paginator [pageSizeOptions]="[20]"
											 #userDoc
											 showFirstLastButtons="true">
				</mat-paginator>
			</ng-container>
			<div class="back-button-container">
				<button class="back-button" (click)="state = 0">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
					</svg>
					Back
				</button>
			</div>
		} @else {
			<ng-container >
				<table mat-table matTableResponsive
							[dataSource]="milestones" class="mat-elevation-z8">
					<ng-container matColumnDef="no">
						<th mat-header-cell *matHeaderCellDef> No. </th>
						<td mat-cell *matCellDef="let document; index as i">{{ i + 1 }}</td>
					</ng-container>

					<ng-container matColumnDef="title">
						<th mat-header-cell *matHeaderCellDef> Title </th>
						<td mat-cell *matCellDef="let document"> {{document.title}} </td>
					</ng-container>

					<ng-container matColumnDef="type">
						<th mat-header-cell *matHeaderCellDef> Type </th>
						<td mat-cell *matCellDef="let document"> {{document.type ? document.type : '-'}} </td>
					</ng-container>

					<ng-container matColumnDef="id">
						<th mat-header-cell *matHeaderCellDef> ID </th>
						<td mat-cell *matCellDef="let document">{{document.productId}}</td>
					</ng-container>

					<ng-container matColumnDef="date">
						<th mat-header-cell *matHeaderCellDef> Date </th>
						<td mat-cell *matCellDef="let document"> {{ document.date | date }} </td>
					</ng-container>

					<ng-container matColumnDef="status">
						<th mat-header-cell *matHeaderCellDef> Status </th>
						<td mat-cell *matCellDef="let document">
							<p class="status" [ngClass]="{'read': document.isRead, 'unread': !document.isRead}">
								{{ document.isRead ? "Read" : "Unread" }}
							</p>
						</td>
					</ng-container>

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef> </th>
						<td mat-cell *matCellDef="let document">
							<p class="view" (click)="download(document)">
								Download
							</p>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="userDisplayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: userDisplayedColumns;"></tr>
				</table>
				<mat-paginator [pageSizeOptions]="[20]"
											#userDoc
											showFirstLastButtons="true">
				</mat-paginator>
			</ng-container>
			<div class="back-button-container">
				<button class="back-button" (click)="state = 0">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
					</svg>
					Back
				</button>
			</div>
		}
  }
</div>
